.cta {
  background: #000;
  height: 3.5rem;
  padding: 0 1.5rem;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  line-height: 3.5rem;
  font-weight: bold;
  transition: background 0.25s, color 0.25s;
}

.cta:hover,
.cta:focus {
  background: #ef4f87;
  color: #000;
}
